<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div id="spiral">
      <div id="spiral-1">
        {{ content }}
      </div>
      <div id="spiral-2">
        <div id="spiral-3">
        </div>
        <div id="spiral-4">
          <div id="spiral-5">
          </div>
          <div id="spiral-6">
            <div id="spiral-7">
            </div>
            <div id="spiral-8">
              <h1>{{ page.title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
